user_guide/
assets/uploads/*
!assets/uploads/.gitignore
server/php/files/
assets/temp/
assets/ebooks/*
!assets/ebooks/.gitignore
vendor/
assets/testing/*
!assets/testing/.gitignore
assets/training_model/*
!assets/training_model/.gitignore
.phpintel/
!classified_ebooks/.gitignore
classified_ebooks/004/*
!classified_ebooks/004/.gitignore
classified_ebooks/005/*
!classified_ebooks/005/.gitignore
classified_ebooks/006/*
!classified_ebooks/006/.gitignore
.php_cs.cache