user_guide/
assets/uploads/*
!assets/uploads/.gitignore
server/php/files/
assets/temp/
assets/ebooks/*
!assets/ebooks/.gitignore
vendor/
assets/testing/*
!assets/testing/.gitignore
assets/dataset/*
!assets/dataset/.gitignore